*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}


.btn:hover {
    background-color: crimson;
    color: yellow;
    transform: scale(1.1);
}