*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
.firstDiv{
    background-color: rgb(184, 208, 76);
    height: 600px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondDiv{
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}