body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.content {
    height: 150px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #25D366;
    color: white;
    text-decoration: none;

    padding: 20px;
    border-radius: 30px;

    font-size:large;
    font-weight: bold;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.whatsapp-btn:hover {
    background-color: #1EBE5D;
}