*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.navBar{
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}